@import "url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')";
*{font-family: 'Source Sans Pro'}
.main-container {
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    min-width: 600px;
    max-width: 1280px;
    background-color: #fff;
    clear: both;}
.main-container menu {
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    height: 1000px;
    background-color: #D3D7DA;}
    .side.menuitem {
    display: block;
    font-size: 1em;
    font-weight: lighter;
    padding: 0.5em;
    margin: 0.1em 0;
    text-decoration: none;
    background-color: #F15F50;
    color: #fff;}
